@import './scss/bits';

.ContactForm{
  display: flex;
  flex-direction: column;
  &-header{
    h2 { 
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-basis: 100%;
      text-align:center;
      margin: 10px 0 20px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        border-bottom: 1px solid #86b7a4;
      }
      span {
        z-index: 10;
        background:#fff; 
        padding:0 10px;
        font-size: 36px;
        font-weight: 300;
        display: flex;
        align-items: center;
      }
    } 
  }
  padding: 3rem;
  &-container{
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    .FormSide{
      padding: 2rem 2rem 2rem 0;
      flex-basis: 50%;
      .button-default{
        margin-top: 1rem;
        margin: 1rem auto;
        display: block;
        border: none;
        &:hover{
          opacity: .8;
        }
      }
    }

    .MapSide{
      margin-top: 3em;
      flex-basis: 50%;
    }
  }

  .input-form{
    color: #436a5b;
    input{
      width: 100%;
    }
    textarea{
      min-height: 7rem;
      width: 100%;
    }
  }
}

@include breakpoint(mobileonly) {
  .ContactForm{
    padding: 5px;
    .ContactForm-container{
      flex-direction: column;
      .FormSide{
        flex-basis: 100%;
      }
      .MapSide{
        flex-basis: 100%;
      }
    }
  }
}