@import './scss/bits';

.displayedImagesDesktop{
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.displayedImagesMobile{
  display: none;
  width: 100%;
  overflow: hidden;
  img{
    object-fit: cover;
    width: 100%;
  }
}
.genericServiceContainer{
  background-color: #f2f7f5;
}

.detailContainer{
  padding: 0 83px;
  background-color: #f7faf9;
  .detailResume{
    box-shadow: 1px 0 rgb(227, 227, 227);
    overflow: hidden;
    padding: 45px 110px 0;
    background-color: #ffffff;
    position: relative;
    bottom: 4rem;
    h1{
      color: #333333;
      font-weight: 100;
      text-align: center;
      text-decoration: underline;
      text-decoration-color: #95ffd5;
      margin-bottom: 42px;
    }
    .contact-paragraph{
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 0.9px;
    }
    h5{
      font-style: italic;
      font-weight: 200;
      font-size: 20px;
    }
    p{
      color: #333333;
      line-height: 1.58;
      font-size: 16px;
      margin-bottom: 24px;
    }
    .blackAndWhiteLogo{
      width: 25%;
      margin-bottom: 30px;
    }
    .contact-form{
      width: 49%;
      display: inline-block;
      input{
        width: 95%;
      }
      textarea{
        width: 100%;
        min-height: 40px;
      }
    }
    .mapSide{
      width: 49%;
      display: inline-block;
    }
  }
  .containerBottom{
    border-top: solid #b6d4c8 1px;
    padding: 24px;
    h4{
      margin-top: 0;
      font-weight: 300;
    }
    .detailBottom{
      padding: 32px 24px;
      background-color: #f2f7f5;
      ul{
        line-height: 1.8;
        li{
          font-size: 14px;
          font-weight: 300;
          color: #333333;
        }
      }
    }
  }
  button{
    margin: 32px auto;
    display: block;
  }
}


.ServiceDetail{
  background-color: #f2f7f5;
  padding: 30px;
}

.contact-form-padding{
  padding: 45px 32px!important;
}

@include breakpoint(mobileonly) {
  .generic-something{
    padding: 92px 0 0 0;
  }
  .genericServiceContainer{
    padding: 92px 0 0 0;
  }
  .displayedImagesDesktop{
    display: none;
  }
  .displayedImagesMobile{
    display: block;
  }
  .detailContainer{
    padding: 0;
    .detailResume{
      padding: 25px 30px 0;
      .contact-form{
        margin-bottom: 20px;
        width: 100%;
      }
      .mapSide{
        width: 100%;
      }
    }
  }
}

// .page-title:after {
//   content: ""; /* This is necessary for the pseudo element to work. */ 
//   display: block; /* This will put the pseudo element on its own line. */
//   margin: 0 auto; /* This will center the border. */
//   width: 100; /* Change this to whatever width you want. */
//   padding-top: 20px; /* This creates some space between the element and the border. */
//   border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
// }