@import './scss/museoSansRounded';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  max-width: 1440px;
  font-family: 'MuseoSansRounded';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  p{
    font-family: 'Source Sans Pro', sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-secondary{
  background: transparent;
  color: #86b7a4;
  border: 1px solid #86b7a4;
  padding: 12px 24px;
  border-radius: 3px;
  font-size: 16px;
}
