html, body {
  height:100%;
}

button.button-default{
  background-color: #86b7a4;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  color: #ffffff;
  outline: none;
  &:hover{
    opacity: .8;
  }
}

.input-form{
  margin-top: 1.5rem;
  padding: .5rem 1rem;
  position: relative;
  input{
    padding: 1rem 0;
    outline: none;
    border: solid 1px #86b7a4;
  }
  textarea{
    outline: none;
    border: solid 1px #86b7a4;
  }
  label {
    bottom: 100%;
    position: absolute;
  }
}